schemas/other/agris_ap.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:dcterms="http://purl.org/dc/terms/" xmlns:ags="http://purl.org/agmes/1.1/" targetNamespace="http://purl.org/agmes/1.1/" elementFormDefault="qualified" version="1.1">
	<xs:annotation>
		<xs:documentation xml:lang="en">
		AGRIS AP semantic elements 
		V1.1 W3C XML Schema 
		Date: 2010-12-01
		Purpose: to describe the metadata as set out in the AGRIS Application Profile at 
		http://www.fao.org/docrep/008/ae909e/ae909e00.HTM
		Publisher: FAO of the UN - AGRIS CARIS documentation Group. 
		Comments and error reports should be sent to stefano.anibaldi@fao.org
		***Change history:
			- 28/02/2008: added scheme ags:FTKCS to subjectClassification
			- 30/09/2009: typo in element source corrected
			- 24/11/2009: agls namespace and schema location changed to ags because the agsl xsd has errors and does not validate
			- 24/11/2009: dcterms:dateIssued changed to dcterms:issued, according to the DC terms schema
			- 24/11/2009: dcterms:relationHasTranslation and dcterms:relationIsTranslationOf removed because they are not present any longer in the DC terms Schema
			- 24/11/2009: changed ags:availability complex type from choice to sequence
			- 01/12/2010: changed publisher to define its children globally
		***	
    </xs:documentation>
	</xs:annotation>
	<xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="http://www.w3.org/2001/03/xml.xsd"/>
	<xs:import namespace="http://purl.org/dc/elements/1.1/" schemaLocation="http://www.dublincore.org/schemas/xmls/qdc/dc.xsd"/>
	<xs:import namespace="http://purl.org/dc/terms/" schemaLocation="http://www.dublincore.org/schemas/xmls/qdc/dcterms.xsd"/>
	<xs:element name="resources">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ags:resource" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="resource">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dc:title" maxOccurs="unbounded"/>
				<xs:element ref="dc:creator" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="dc:publisher" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="dc:date" maxOccurs="unbounded"/>
				<xs:element ref="dc:subject" maxOccurs="unbounded"/>
				<xs:element ref="dc:description" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="dc:identifier" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="dc:type" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="dc:format" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="dc:language" maxOccurs="unbounded"/>
				<xs:element ref="dc:relation" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ags:availability" maxOccurs="unbounded"/>
				<xs:element ref="dc:source" minOccurs="0"/>
				<xs:element ref="dc:coverage" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="dc:rights" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ags:citation" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="ARN" type="xs:ID" use="required" form="qualified"/>
		</xs:complexType>
	</xs:element>
	<!-- ELEMENT title -->
	<xs:element name="title">
		<xs:complexType mixed="true">
			<xs:choice>
				<xs:element ref="dcterms:alternative" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ags:titleSupplement" minOccurs="0" maxOccurs="unbounded"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="alternative">
		<xs:complexType mixed="true">
			<xs:attribute ref="xml:lang"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="titleSupplement">
		<xs:complexType mixed="true">
			<xs:attribute ref="xml:lang"/>
		</xs:complexType>
	</xs:element>
	<!-- ELEMENT creator -->
	<xs:element name="creator">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ags:creatorPersonal"  minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ags:creatorCorporate"  minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ags:creatorConference"  minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="creatorPersonal" type="xs:string"/>
	<xs:element name="creatorCorporate" type="xs:string"/>
	<xs:element name="creatorConference" type="xs:string"/>
	<!-- ELEMENT publisher -->
	<xs:element name="publisher">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="publisherName" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="publisherPlace" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="publisherName" type="xs:string"/>
	<xs:element name="publisherPlace" type="xs:string"/>
	<!-- ELEMENT date -->
	<xs:element name="date">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dcterms:issued" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="issued">
		<xs:complexType mixed="true">
			<xs:attribute name="scheme">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="dcterms:W3CDTF"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<!-- ELEMENT subject -->
	<xs:element name="subject">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ags:subjectClassification" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ags:subjectThesaurus" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="subjectClassification">
		<xs:complexType>
			<xs:attribute ref="xml:lang"/>
			<xs:attribute name="scheme" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="ags:ASC"/>
						<xs:enumeration value="ags:CABC"/>
						<xs:enumeration value="dcterms:DDC"/>
						<xs:enumeration value="dcterms:LCC"/>
						<xs:enumeration value="dcterms:UDC"/>
						<xs:enumeration value="ags:ASFAC"/>
						<xs:enumeration value="ags:GFISC"/>
						<xs:enumeration value="ags:IWMIC"/>
						<xs:enumeration value="ags:FTKCS"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="subjectThesaurus">
		<xs:complexType>
			<xs:attribute ref="xml:lang"/>
			<xs:attribute name="scheme" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:token">
						<xs:enumeration value="ags:CABT"/>
						<xs:enumeration value="ags:AGROVOC"/>
						<xs:enumeration value="ags:NALT"/>
						<xs:enumeration value="ags:ASFAT"/>
						<xs:enumeration value="dcterms:LCSH"/>
						<xs:enumeration value="dcterms:MeSH"/>
						<xs:enumeration value="ags:GFIST"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<!-- ELEMENT description -->
	<xs:element name="description">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="ags:descriptionNotes" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ags:descriptionEdition" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="dcterms:abstract" minOccurs="0" maxOccurs="unbounded"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="descriptionNotes" type="xs:string"/>
	<xs:element name="descriptionEdition" type="xs:string"/>
	<xs:element name="abstract">
		<xs:complexType mixed="true">
			<xs:attribute ref="xml:lang"/>
		</xs:complexType>
	</xs:element>
	<!-- ELEMENT identifier -->
	<xs:element name="identifier">
		<xs:complexType mixed="true">
			<xs:attribute ref="xml:lang"/>
			<xs:attribute name="scheme">
				<xs:simpleType>
					<xs:restriction base="xs:token">
						<xs:enumeration value="ags:IPC"/>
						<xs:enumeration value="ags:RN"/>
						<xs:enumeration value="ags:PN"/>
						<xs:enumeration value="ags:ISBN"/>
						<xs:enumeration value="ags:JN"/>
						<xs:enumeration value="dcterms:URI"/>
						<xs:enumeration value="ags:DOI"/>
						<xs:enumeration value="ags:PC"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<!-- ELEMENT type -->
	<xs:element name="type">
		<xs:complexType mixed="true">
			<xs:attribute name="scheme">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="dcterms:DCMIType"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<!-- ELEMENT format -->
	<xs:element name="format">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="dcterms:extent" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="dcterms:medium" minOccurs="0" maxOccurs="unbounded"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="extent" type="xs:string"/>
	<xs:element name="medium">
		<xs:complexType mixed="true">
			<xs:attribute name="scheme">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="dcterms:IMT"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<!-- ELEMENT language -->
	<xs:element name="language">
		<xs:complexType mixed="true">
			<xs:attribute name="scheme">
				<xs:simpleType>
					<xs:restriction base="xs:token">
						<xs:enumeration value="ags:ISO639-1"/>
						<xs:enumeration value="dcterms:ISO639-2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<!-- ELEMENT relation -->
	<xs:element name="relation">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="dcterms:isPartOf" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="dcterms:hasPart" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="dcterms:isVersionOf" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="dcterms:hasVersion" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="dcterms:isFormatOf" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="dcterms:hasFormat" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="dcterms:references" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="dcterms:isReferencedBy" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="dcterms:isRequiredBy" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="dcterms:requires" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="dcterms:isReplacedBy" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="dcterms:replaces" minOccurs="0" maxOccurs="unbounded"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="isPartOf">
		<xs:complexType mixed="true">
			<xs:attribute name="scheme" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:token">
						<xs:enumeration value="ags:IPC"/>
						<xs:enumeration value="ags:PN"/>
						<xs:enumeration value="ags:ISBN"/>
						<xs:enumeration value="ags:JN"/>
						<xs:enumeration value="dcterms:URI"/>
						<xs:enumeration value="ags:RN"/>
						<xs:enumeration value="ags:DOI"/>
						<xs:enumeration value="ags:ARN"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="hasPart">
		<xs:complexType mixed="true">
			<xs:attribute name="scheme" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:token">
						<xs:enumeration value="ags:IPC"/>
						<xs:enumeration value="ags:PN"/>
						<xs:enumeration value="ags:ISBN"/>
						<xs:enumeration value="ags:JN"/>
						<xs:enumeration value="dcterms:URI"/>
						<xs:enumeration value="ags:RN"/>
						<xs:enumeration value="ags:DOI"/>
						<xs:enumeration value="ags:ARN"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="isVersionOf">
		<xs:complexType mixed="true">
			<xs:attribute name="scheme" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:token">
						<xs:enumeration value="ags:IPC"/>
						<xs:enumeration value="ags:PN"/>
						<xs:enumeration value="ags:ISBN"/>
						<xs:enumeration value="ags:JN"/>
						<xs:enumeration value="dcterms:URI"/>
						<xs:enumeration value="ags:RN"/>
						<xs:enumeration value="ags:DOI"/>
						<xs:enumeration value="ags:ARN"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="hasVersion">
		<xs:complexType mixed="true">
			<xs:attribute name="scheme" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:token">
						<xs:enumeration value="ags:IPC"/>
						<xs:enumeration value="ags:PN"/>
						<xs:enumeration value="ags:ISBN"/>
						<xs:enumeration value="ags:JN"/>
						<xs:enumeration value="dcterms:URI"/>
						<xs:enumeration value="ags:RN"/>
						<xs:enumeration value="ags:DOI"/>
						<xs:enumeration value="ags:ARN"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="isFormatOf">
		<xs:complexType mixed="true">
			<xs:attribute name="scheme" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:token">
						<xs:enumeration value="ags:IPC"/>
						<xs:enumeration value="ags:PN"/>
						<xs:enumeration value="ags:ISBN"/>
						<xs:enumeration value="ags:JN"/>
						<xs:enumeration value="dcterms:URI"/>
						<xs:enumeration value="ags:RN"/>
						<xs:enumeration value="ags:DOI"/>
						<xs:enumeration value="ags:ARN"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="hasFormat">
		<xs:complexType mixed="true">
			<xs:attribute name="scheme" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:token">
						<xs:enumeration value="ags:IPC"/>
						<xs:enumeration value="ags:PN"/>
						<xs:enumeration value="ags:ISBN"/>
						<xs:enumeration value="ags:JN"/>
						<xs:enumeration value="dcterms:URI"/>
						<xs:enumeration value="ags:RN"/>
						<xs:enumeration value="ags:DOI"/>
						<xs:enumeration value="ags:ARN"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="references">
		<xs:complexType mixed="true">
			<xs:attribute name="scheme" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:token">
						<xs:enumeration value="ags:IPC"/>
						<xs:enumeration value="ags:PN"/>
						<xs:enumeration value="ags:ISBN"/>
						<xs:enumeration value="ags:JN"/>
						<xs:enumeration value="dcterms:URI"/>
						<xs:enumeration value="ags:RN"/>
						<xs:enumeration value="ags:DOI"/>
						<xs:enumeration value="ags:ARN"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="isReferencedBy">
		<xs:complexType mixed="true">
			<xs:attribute name="scheme" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:token">
						<xs:enumeration value="ags:IPC"/>
						<xs:enumeration value="ags:PN"/>
						<xs:enumeration value="ags:ISBN"/>
						<xs:enumeration value="ags:JN"/>
						<xs:enumeration value="dcterms:URI"/>
						<xs:enumeration value="ags:RN"/>
						<xs:enumeration value="ags:DOI"/>
						<xs:enumeration value="ags:ARN"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="isRequiredBy">
		<xs:complexType mixed="true">
			<xs:attribute name="scheme" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:token">
						<xs:enumeration value="ags:IPC"/>
						<xs:enumeration value="ags:PN"/>
						<xs:enumeration value="ags:ISBN"/>
						<xs:enumeration value="ags:JN"/>
						<xs:enumeration value="dcterms:URI"/>
						<xs:enumeration value="ags:RN"/>
						<xs:enumeration value="ags:DOI"/>
						<xs:enumeration value="ags:ARN"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="requires">
		<xs:complexType mixed="true">
			<xs:attribute name="scheme" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:token">
						<xs:enumeration value="ags:IPC"/>
						<xs:enumeration value="ags:PN"/>
						<xs:enumeration value="ags:ISBN"/>
						<xs:enumeration value="ags:JN"/>
						<xs:enumeration value="dcterms:URI"/>
						<xs:enumeration value="ags:RN"/>
						<xs:enumeration value="ags:DOI"/>
						<xs:enumeration value="ags:ARN"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="isReplacedBy">
		<xs:complexType mixed="true">
			<xs:attribute name="scheme" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:token">
						<xs:enumeration value="ags:IPC"/>
						<xs:enumeration value="ags:PN"/>
						<xs:enumeration value="ags:ISBN"/>
						<xs:enumeration value="ags:JN"/>
						<xs:enumeration value="dcterms:URI"/>
						<xs:enumeration value="ags:RN"/>
						<xs:enumeration value="ags:DOI"/>
						<xs:enumeration value="ags:ARN"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="replaces">
		<xs:complexType mixed="true">
			<xs:attribute name="scheme" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:token">
						<xs:enumeration value="ags:IPC"/>
						<xs:enumeration value="ags:PN"/>
						<xs:enumeration value="ags:ISBN"/>
						<xs:enumeration value="ags:JN"/>
						<xs:enumeration value="dcterms:URI"/>
						<xs:enumeration value="ags:RN"/>
						<xs:enumeration value="ags:DOI"/>
						<xs:enumeration value="ags:ARN"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<!-- ELEMENT availability -->
	<xs:element name="availability">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ags:availabilityLocation" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ags:availabilityNumber" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="availabilityLocation" type="xs:string"/>
	<xs:element name="availabilityNumber" type="xs:string"/>
	<!-- ELEMENT source -->
	<xs:element name="source" type="xs:string"/>
	<!-- ELEMENT coverage -->
	<xs:element name="coverage">
		<xs:complexType mixed="true">
			<xs:choice>
				<xs:element ref="dcterms:spatial" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="dcterms:temporal" minOccurs="0" maxOccurs="unbounded"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="spatial">
		<xs:complexType mixed="true">
			<xs:attribute ref="xml:lang"/>
			<xs:attribute name="scheme">
				<xs:simpleType>
					<xs:restriction base="xs:token">
						<xs:enumeration value="dcterms:Point"/>
						<xs:enumeration value="dcterms:ISO3166"/>
						<xs:enumeration value="dcterms:TGN"/>
						<xs:enumeration value="dcterms:Box"/>
						<xs:enumeration value="ags:AGROVOC"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<!-- ELEMENT rights -->
	<xs:element name="rights">
		<xs:complexType mixed="true">
			<xs:choice>
				<xs:element ref="ags:rightsStatement" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ags:rightsTermsOfUse" minOccurs="0" maxOccurs="unbounded"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="rightsStatement" type="xs:string"/>
	<xs:element name="rightsTermsOfUse" type="xs:string"/>
	<!-- ELEMENT citation -->
	<xs:element name="citation">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="ags:citationTitle" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ags:citationIdentifier" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ags:citationNumber" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ags:citationChronology" minOccurs="0" maxOccurs="unbounded"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="citationTitle">
		<xs:complexType mixed="true">
			<xs:attribute ref="xml:lang"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="citationIdentifier">
		<xs:complexType mixed="true">
			<xs:attribute name="scheme" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:token">
						<xs:enumeration value="ags:ISSN"/>
						<xs:enumeration value="ags:CODEN"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="citationNumber" type="xs:string"/>
	<xs:element name="citationChronology" type="xs:string"/>
</xs:schema>
